@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
    <div class="title">
        <p>
            Leaderboard
        </p>
    </div>
    <div class="scoreboard1">
        @scoreboard.leaderboard[0]
    </div>
    <div class="scoreboard2">
        @scoreboard.leaderboard[1]
    </div>
    <div class="scoreboard3">
        @scoreboard.leaderboard[2]
    </div>
    <div class="scoreboard4">
        @scoreboard.leaderboard[3]
    </div>
    <div class="scoreboard5">
        @scoreboard.leaderboard[4]
    </div>
    <div class="scoreboard6">
        @scoreboard.leaderboard[5]
    </div>
    <div class="scoreboard7">
        @scoreboard.leaderboard[6]
    </div>
    <div class="scoreboard8">
        @scoreboard.leaderboard[7]
    </div>
    <div class="scoreboard9">
        @scoreboard.leaderboard[8]
    </div>
    <div class="scoreboard10">
        @scoreboard.leaderboard[9]
    </div>
    <div class="scoreboard11">
        @scoreboard.leaderboard[10]
    </div>
    <div class="scoreboard12">
        @scoreboard.leaderboard[11]
    </div>
    <div class="scoreboard13">
        @scoreboard.leaderboard[12]
    </div>
    <div class="scoreboard14">
        @scoreboard.leaderboard[13]
    </div>
    <div class="scoreboard15">
        @scoreboard.leaderboard[14]
    </div>
    <div class="scoreboard16">
        @scoreboard.leaderboard[15]
    </div>
    <div class="scoreboard17">
        @scoreboard.leaderboard[16]
    </div>
    <div class="scoreboard18">
        @scoreboard.leaderboard[17]
    </div>
    <div class="scoreboard19">
        @scoreboard.leaderboard[18]
    </div>
    <div class="scoreboard20">
        @scoreboard.leaderboard[19]
    </div>
</root>

@code
{
    [Property] Scoreboard scoreboard { get; set; }
   
    /// <summary>
    /// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
    /// </summary>
    protected override int BuildHash() => System.HashCode.Combine(scoreboard.updated);
}
